// =============================================================================
// Fonts
// =============================================================================

@charset "UTF-8";

// Cormorant Garamond
// =============================================================================

@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 700;
  src: asset_url('cormorant-garamond/Cormorant-Garamond-700.eot');
  src:
    asset_url('cormorant-garamond/Cormorant-Garamond-700.eot?#iefix') format('embedded-opentype'),
    local('Cormorant Garamond Bold'),
    local('Cormorant-Garamond-700'),
    asset_url('cormorant-garamond/Cormorant-Garamond-700.woff2') format('woff2'),
    asset_url('cormorant-garamond/Cormorant-Garamond-700.woff') format('woff'),
    asset_url('cormorant-garamond/Cormorant-Garamond-700.ttf') format('truetype');
}

// Open Sans
// =============================================================================

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: asset_url('open-sans/Open-Sans-300.eot');
  src:
    asset_url('open-sans/Open-Sans-300.eot?#iefix') format('embedded-opentype'),
    local('Open Sans Light'),
    local('Open-Sans-300'),
    asset_url('open-sans/Open-Sans-300.woff2') format('woff2'),
    asset_url('open-sans/Open-Sans-300.woff') format('woff'),
    asset_url('open-sans/Open-Sans-300.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: asset_url('open-sans/Open-Sans-regular.eot');
  src:
    asset_url('open-sans/Open-Sans-regular.eot?#iefix') format('embedded-opentype'),
    local('Open Sans Regular'),
    local('Open-Sans-regular'),
    asset_url('open-sans/Open-Sans-regular.woff2') format('woff2'),
    asset_url('open-sans/Open-Sans-regular.woff') format('woff'),
    asset_url('open-sans/Open-Sans-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: asset_url('open-sans/Open-Sans-600.eot');
  src:
    asset_url('open-sans/Open-Sans-600.eot?#iefix') format('embedded-opentype'),
    local('Open Sans Bold'),
    local('Open-Sans-600'),
    asset_url('open-sans/Open-Sans-600.woff2') format('woff2'),
    asset_url('open-sans/Open-Sans-600.woff') format('woff'),
    asset_url('open-sans/Open-Sans-600.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: asset_url('open-sans/Open-Sans-700.eot');
  src:
    asset_url('open-sans/Open-Sans-700.eot?#iefix') format('embedded-opentype'),
    local('Open Sans Bold'),
    local('Open-Sans-700'),
    asset_url('open-sans/Open-Sans-700.woff2') format('woff2'),
    asset_url('open-sans/Open-Sans-700.woff') format('woff'),
    asset_url('open-sans/Open-Sans-700.ttf') format('truetype');
}
